<%- include ('../partials/header') -%>
<div class="row">
    <div class="container">
        <h1 class="form">New Comment</h1>
        <div class="form">
        <form method="POST">
            <section class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="text"> 
            </section>
            <section class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </section>
        </form>
        <a id="CampID">Go Back</a>
    </div>        
    </div>
</div>
<%- include ('../partials/footer') -%>
